
/* Home.css */
.init-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9f6ff;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 2rem;
}

.welcome-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.title_init{
    display: flex;
    font-weight: 700;
    justify-content: center;
}
.welc{
    padding-right: 8px;
}
.color_si{
    color: rgb(255, 0, 179);
}

.welcome-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f6ff;
}

.bus-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pink-bus-icon {
  color: #ff5fb0;
  font-size: 4rem;
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .main-content {
    padding-top: 1rem;
  }
  
  .welcome-title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .welcome-title {
    font-size: 1.8rem;
  }
  
  .welcome-subtitle {
    font-size: 1rem;
  }
}